################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/rec/.vs
/.vs
/rec/Debug
/rec/LL1Analysis/Debug
/rec/RecursiveAnalysis/Debug
/rec/LR1Analysis/Debug
